@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Color Palette*/
$black: #1B1D1F;
$lightBlack: #282B30;
$blue: #4E80EE;
$gray: #6C727F;
$mediumGray: #D2D5DA;
$lightGray: #292b31;

@mixin flex($gap: 10px, $justify: center, $align : center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin boxContainer($width, $height){
    width: $width;
    margin: auto;
    bottom:60px;
    position: relative;
    background-color: $black;
    border: 1px solid $lightBlack;
    border-radius: 15px;
    min-height: calc(100vh - $height);

    @media screen and (max-width: 735px){
        width: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}

body{
    background-color: $black;
    color: $mediumGray;
}

h2,h3{
    color: $gray;
    list-style-type: none;
}

header{
    background-image: url("./assets/hero-image-wr.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer-home{
    @include boxContainer(95%, 300px);
    padding: 30px;

    li, h3{
        font-size: 12px;
        font-weight: 600;
    }

    .searchTab{
        @include flex(0px, space-between);
        flex-wrap: wrap;

        h2{
            font-size: 16px;
            font-weight: 600
        }

        .inputContainer{
            @include flex(0px);
            background-color: $lightGray;
            border-radius: 12px;
            width: 350px;
            padding: 5px 10px;

            input[type=text]{
                background-color: transparent;
                border: 0px;
                color: $mediumGray;

                &::placeholder{
                    font-size: 14px;
                    font-weight: 500;
                    color: $gray;
                }

                &:focus{
                    box-shadow: none;
                }
            }  
        }
    }

    .boxContainer{
        @include flex(30px, space-between, flex-start);
        margin: 30px 0px;

        .sidebar{
            @include flex(30px, flex-start, flex-start);
            flex-direction: column;
            width: 23%;
            $fontSize: 14px;

            >div{
                width: 100%;
            }

            .btn-check{
                color: $gray;
                border-radius: 12px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .btn{
                color: $gray;
                font-size: $fontSize;
                font-weight: 600;
                border: none;
            }
            
            input[type=checkbox]:checked ~ .btn{
                background-color: $lightGray;
                color: $mediumGray;
            }

            .form-select{
                background-color: transparent;
                border-radius: 10px;
                border: 2px solid $lightGray;
                color: $mediumGray;
                font-size: $fontSize;
            }

            .regionContainer{
                @include flex(10px, flex-start);
                flex-wrap: wrap;
            }

            .form-check{
                margin-bottom: 10px;
                @include flex(10px, flex-start, center);

                .form-check-input{
                    height: 25px;
                    width: 25px;
                    background-color: transparent;
                    border: 2px solid $gray;
    
                    &:checked{
                        background-color: $blue;
                        border: 2px solid $blue;
                    }
                }

                .form-check-label{
                    font-size: $fontSize;
                    font-weight: 500;
                    position: relative;
                    margin-top: 4px;
                }

            }

        }

        .tableContainer{
            width: 77%;
            position: relative;

            table tr td, table tr th{
                background-color: transparent !important;
                max-width: 110px;
            }

            thead{
                border-bottom: 2px solid $lightGray;

                th{
                    padding-bottom: 20px;
                    font-size: 12px;
                    color: $gray;
                    position: relative;
                }
                
            }
        
            td{
                padding-top: 20px;
                padding-bottom: 20px;
                color: $mediumGray;
            }

            .rowBox:hover{
                background-color: $lightGray;
                transition: 0.3s ease-out;
                cursor: pointer;
            }

            .flag{
                width: 52px;
                height: 40px;
                position: relative;
                object-fit: cover;
                border-radius: 5px;
                margin-top: 5px;
            }

            .paginationContainer{
                margin: auto;
                width: max-content;

                .page-link{
                    color: $blue;
                }

            }
        }

        .suspenseContainer{
            width: 100%;
            position: absolute;
            
            > div{
                background-color: $lightGray;
                width: 100%;
                height: 50px;
                border-radius: 7px;
                margin: 13px 0px;
                animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
            }

            @keyframes pulse {
                0%, 100% {
                  opacity: 1;
                }
                50% {
                  opacity: .5;
                }
              }
        }

        @media screen and (max-width: 640px){
            flex-direction: column;
            .sidebar, .tableContainer{
                width: 100%;
            }
        }
        
    }

    .toggle-1{
        display: block;

        @media screen and (max-width: 1024px){
            display: none;
        }
    }
}

.boxContainer-country {
    @include boxContainer(720px, 200px);

    h2, p{
        color: $mediumGray;
        margin: 0px;
    }

    span{
        color: $gray;
        font-weight: 500;
    }

    .flag{
        width: 260px;
        height: 190px;
        border-radius: 10px;
        display: block;
        margin: auto;
        position: relative;
        bottom: 45px;
    }

    .title-container{
        text-align: center;
        position: relative;
        bottom: 20px;
    }

    .second-container{
        @include flex(40px, center);
        margin: 20px 0px 40px;

        div{
            @include flex(0, space-between);
            background-color: $lightGray;
            border-radius: 10px;
            font-size: 14px;
            padding: 10px;

            p{
                padding: 5px 20px;
                
                &:first-child{
                    border-right: 1px solid $black;
                }
            }
        }

        @media screen and (max-width: 525px){
            flex-direction: column;
            gap: 10px;
        }
    }

    .row-container{
        >section{
            @include flex(0px, space-between, center);
            padding: 20px;
            border: 0px;
            border-top: 1px solid $lightBlack;
            font-size: 14px;

            div{
                width: 100%;
                .neighboar-grid{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 100px);
                    gap: 0.9rem;
                    padding: 20px 0px 50px;

                    section{
                        img{
                            border-radius: 5px;
                            width: 100px;
                            height: 60px;
                            object-fit: contain;
                            background-color: $lightGray;
                            cursor: pointer;
                        }
    
                        p{
                            text-align: center;
                            margin-top: 7px;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover{
                                color: $blue;
                            }
                        }
                    }
                  
                }
            }   
        }
    }
}

.loading-page{
    margin-top: 150px;
    img{
        border: 1px solid #c8e5f1;
        background-color: #c8e5f1;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    p{
        color: $mediumGray;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
    }

    @media screen and (max-width: 640px){
        margin-top: 100px;
    }

}